<section class="signup-section" id="signup">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h1 class="text-white mb-5"><b>Coold.in</b></h1>
                <form class="form-inline d-flex">
                    <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" type="email"
                        placeholder="Enter email address to Subscribe" />
                    <button class="btn btn-primary mx-auto" onclick="myFun()" type="submit">Subscribe</button>
                    <script>
                        function myFun() {
                            alert("We are working on it ...");
                        }
                    </script>
                </form>
            </div>
        </div>

    </div>
</section>
<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <a href="https://robooops.pythonanywhere.com/">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-helicopter text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">RoboOops</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">Robotics blogs</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <a href="https://cropit.coold.in">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-low-vision text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Cropit</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">URL shortener</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <a href="#web_dev">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-desktop text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Web Dev</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">Product and Ideas</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br>

        <br>
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <a href="https://rubik.coold.in/">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-paw text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Rubik's 3D Puzzle</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">Game & Fun</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <a href="https://wf.coold.in/">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="far fa-snowflake text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Weather Forecast</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">Using ESP8266 ESP-01</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <a href="#sub_five">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="far fa-kiss-wink-heart text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Coming Soon</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">Coming Soon...</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>