<div class="main-wrapper" id="okokkoko">

    <!-- content -->
    <blockquote>Budget 2021 update :It has been proposed to exempt the senior citizens from filing income tax returns if
        pension income and interest income are their only annual income source. Section 194P has been newly inserted to
        enforce the banks to deduct tax on senior citizens more than 75 years of age who have a pension and interest
        income from the bank.</blockquote>

    <div class="p-3">

        For FY 2019-20, investments made up to 31 July 2020 can be claimed as deduction under <a
            href="https://cleartax.in/s/80c-deductions" target="_blank" rel="noopener noreferrer">Section 80C</a>,
        Section
        80D, Section 80E and up to 80GGC (Chapter VI A deductions). The due date for AY 2020-21 is extended to 10th
        January 2021. For tax audit cases and Transfer Pricing cases, the due date is extended to 15th February 2021.
        <h1 class="mb-4 mt-2 font-weight-semibold text-center">Deductions on Section 80C, 80CCC &amp; 80CCD</h1>
        For financial year 2019-20 (including budget amendments)
        <div class="content">

            There are various deductions a taxpayer can claim from his total income which would bring down his taxable
            income and thereby reduce his tax outgo. Discussed in this article are some of the important deductions
            under
            Section 80C a taxpayer is eligible to claim.

        </div>
        <div class="mt-3 row">
            <div class="align-items-center card col-xs-4 m-1 p-2 shadow">
                <p class="fs-small mb-0 mt-2 text-center">Sec 80c
                    Investment</p>

            </div>
            <div class="align-items-center card col-xs-4 m-1 p-2 shadow">
                <p class="fs-small mb-0 mt-2 text-center">Sec 80CCC
                    Insurance
                    Premium</p>

            </div>
            <div class="align-items-center card col-xs-4 m-1 p-2 shadow">
                <p class="fs-small mb-0 mt-2 text-center">Sec 80CCD
                    Pension
                    Contribution</p>

            </div>
        </div>
        <div class="mt-3 row">
            <div class="align-items-center card col-xs-4 m-1 p-2 shadow">
                <p class="fs-small mb-0 mt-2 text-center">Sec 80TTA
                    Interest on
                    Savings Account</p>

            </div>
            <div class="align-items-center card col-xs-4 m-1 p-2 shadow">
                <p class="fs-small mb-0 mt-2 text-center">Sec 80GG
                    House
                    Rent Paid</p>

            </div>
            <div class="align-items-center card col-xs-4 m-1 p-2 shadow">
                <p class="fs-small mb-0 mt-2 text-center">Sec 80E
                    Interest on
                    Education Loan</p>

            </div>
        </div>
        <div class="mt-3 row">
            <div class="align-items-center card col-xs-4 m-1 p-2 shadow">
                <p class="fs-small mb-0 mt-2 text-center">Sec 80EE
                    Interest on
                    Home Loan</p>

            </div>
            <div class="align-items-center card col-xs-4 m-1 p-2 shadow">
                <p class="fs-small mb-0 mt-2 text-center">Sec 80CCG
                    RGESS</p>

            </div>
            <div class="align-items-center card col-xs-4 m-1 p-2 shadow">
                <p class="fs-small mb-0 mt-2 text-center">Sec 80D
                    Medical
                    Insurance</p>

            </div>
        </div>
        <div class="mt-3 row">
            <div class="align-items-center card col-xs-4 m-1 p-2 shadow">
                <p class="fs-small mb-0 mt-2 text-center">Sec 80DD
                    Disabled
                    Dependent</p>

            </div>
            <div class="align-items-center card col-xs-4 m-1 p-2 shadow">
                <p class="fs-small mb-0 mt-2 text-center">Sec 80DDB
                    Medical
                    Expenditure</p>

            </div>
            <div class="align-items-center card col-xs-4 m-1 p-2 shadow">
                <p class="fs-small mb-0 mt-2 text-center">Sec 80U
                    Physical
                    Disability</p>

            </div>
        </div>
        <div class="mt-3 row">
            <div class="align-items-center card col-xs-4 m-1 p-2 shadow">
                <p class="fs-small mb-0 mt-2 text-center">Sec 80G
                    Donations</p>

            </div>
            <div class="align-items-center card col-xs-4 m-1 p-2 shadow">
                <p class="fs-small mb-0 mt-2 text-center">Sec 80GGB
                    Company
                    Contribution</p>

            </div>
            <div class="align-items-center card col-xs-4 m-1 p-2 shadow">
                <p class="fs-small mb-0 mt-2 text-center">Sec 80GGC
                    Contribution to
                    Political Parties</p>

            </div>
        </div>
        <div class="mt-3 row">
            <div class="align-items-center card col-xs-4 m-1 p-2 shadow">
                <p class="fs-small mb-0 mt-2 text-center">Sec 80RRB
                    Royalty of
                    a Patent</p>

            </div>
            <div class="align-items-center card col-xs-4 m-1 p-2 shadow">
                <p class="fs-small mb-0 mt-2 text-center">Sec 80TTB
                    Interest
                    Income</p>

            </div>
            <div class="align-items-center card col-xs-4 m-1 p-2 shadow">
                <p class="fs-small mb-0 mt-2 text-center">Frequently
                    Asked Questions</p>

            </div>
        </div>
        <div id="section80c" class="content pt-5">
            <p class="font-24 font-weight-semibold">1. Section 80C</p>
            &nbsp;
            <p class="font-20 font-weight-semibold">Deductions on Investments</p>
            Under section 80C, a deduction of Rs 1,50,000 can be claimed from your total income. In simple terms, you
            can
            reduce up to Rs 1,50,000 from your total taxable income through section 80C. This deduction is allowed to an
            Individual or a HUF. A maximum of Rs 1, 50,000 can be claimed for the FY 2018-19, 2017-18 and FY 2016-17
            each.

            If you have paid excess taxes, but have invested in LIC, <a href="https://cleartax.in/s/ppf">PPF</a>,
            Mediclaim,
            incurred towards tuition fees etc.and have missed claiming a deduction of the same under 80C, you can <a
                href="https://cleartax.in/income-tax-efiling" target="_blank" rel="noopener noreferrer"><span
                    style="font-weight: 400;">file your Income Tax Return</span></a> , claim these deductions and get a
            refund
            of excess taxes paid

        </div>
        <div id="section80ccc" class="content pt-5">
            <p class="font-24 font-weight-semibold">2. Section 80CCC</p>
            <p class="font-20 font-weight-semibold">Deduction for Premium Paid for Annuity Plan of LIC or Other Insurer
            </p>
            This section provides a deduction to an individual for any amount paid or deposited in any annuity plan of
            LIC
            or any other insurer. The plan must be for receiving a pension from a fund referred to in Section 10(23AAB).
            Pension received from the annuity or amount received upon surrender of the annuity, including interest or
            bonus
            accrued on the annuity, is taxable in the year of receipt.

        </div>
        <div id="section80ccd" class="content pt-5">
            <p class="font-24 font-weight-semibold ">3. Section 80CCD</p>
            <p class="font-20 font-weight-semibold">Deduction for Contribution to Pension Account</p>
            <span class="font-16 font-weight-semibold">a. Employee’s contribution – Section 80CCD (1)</span> is allowed
            to
            an individual who makes deposits to his/her pension account. Maximum deduction allowed is 10% of salary (in
            case
            the taxpayer is an employee) or 20% of gross total income (in case the taxpayer being self-employed) or Rs
            1,
            50,000, whichever is less.

            <span class="font-16 font-weight-semibold">FY 2016-17 and earlier years –</span> In the case of a
            self-employed
            individual, maximum deduction allowed is 10% of gross total income.

            <span class="font-16 font-weight-semibold">b.Deduction for self-contribution to NPS – section 80CCD
                (1B)</span>
            A new section 80CCD (1B) has been introduced for an <b>additional deduction</b> of up to Rs 50,000 for the
            amount deposited by a taxpayer to their NPS account. Contributions to Atal Pension Yojana are also eligible.

            <span class="font-16 font-weight-semibold">c. Employer’s contribution to NPS – Section 80CCD (2)</span>
            Additional deduction is allowed for employer’s contribution to employee’s pension account of up to 10% of
            the
            salary of the employee. There is no monetary ceiling on this deduction.

        </div>
        <div id="section80tta" class="content pt-5">
            <p class="font-24 font-weight-semibold">4. Section 80 TTA</p>
            <p class="font-20 font-weight-semibold">Deduction from Gross Total Income for Interest on Savings Bank
                Account
            </p>
            A deduction of maximum Rs 10,000 can be claimed against interest income from a savings bank account.
            Interest
            from savings bank account should be first included in other income and deduction can be claimed of the total
            interest earned or Rs 10,000, whichever is less. This deduction is allowed to an individual or an HUF. It
            can be
            claimed for interest on deposits in savings account with a bank, co-operative society, or post office.
            Section
            80TTA deduction is not available on interest income from fixed deposits, recurring deposits, or interest
            income
            from corporate bonds.

        </div>
        <div id="section80gg" class="content pt-5">
            <p class="font-24 font-weight-semibold">5. Section 80GG</p>
            <p class="font-20 font-weight-semibold">Deduction for House Rent Paid Where HRA is not Received</p>
            a. This deduction is available for rent paid when HRA is not received. The taxpayer, spouse or minor child
            should not own residential accommodation in the location where he/she is employed.

            b. The taxpayer should not have self-occupied residential property in any other place

            c. The taxpayer must be living on rent and paying rent

            d. The deduction is available to all individuals
            <p class="font-20 font-weight-semibold">Deduction available is the least of the following:</p>
            a. Rent paid minus 10% of adjusted total income

            b. Rs 5,000/- per month

            c. 25% of adjusted total income*

            *Adjusted Gross Total Income is arrived at after adjusting the Gross Total Income for certain deductions,
            exempt
            incomes, long-term capital gains and income relating to non-residents and foreign companies. An online <a
                href="https://cleartax.in/" target="_blank" rel="noopener noreferrer"> e-filing software</a> like that
            of
            ClearTax can be extremely easy as the limits are auto-calculated and you do not have to worry about making
            complex calculations.From FY 2016-17 available deduction has been raised to Rs 5,000 a month from Rs 2,000
            per
            month.

        </div>
        <div id="section80e" class="content pt-5">
            <p class="font-24 font-weight-semibold">6. Section 80E</p>
            <p class="font-20 font-weight-semibold">Deduction for Interest on Education Loan for Higher Studies</p>
            A deduction is allowed to an individual for interest on loan taken for pursuing higher education. This loan
            may
            have been taken for the taxpayer, spouse or children or for a student for whom the taxpayer is a legal
            guardian.
            The deduction is available for a maximum of 8 years (beginning the year in which the interest starts getting
            repaid) or till the entire interest is repaid, whichever is earlier. There is no restriction on the amount
            that
            can be claimed.

        </div>
        <div id="section80ee" class="content pt-5">
            <p class="font-24 font-weight-semibold">7. Section 80EE</p>
            <p class="font-20 font-weight-semibold">Deductions on Home Loan Interest for First Time Home Owners</p>
            <span class="font-16 font-weight-semibold">FY 2017-18 and FY 2016-17</span> This deduction is available in
            FY
            2017-18 if the loan has been taken in FY 2016-17.The deduction under this section is available only to an
            individual who is a first time home-owner. The value of the property purchased must be less than Rs 50 lakh
            and
            the home loan must be less than Rs 35 lakh. The loan must be taken from a financial institution and must
            have
            been sanctioned between 01 April 2016 to 31 March 2017.There is an additional deduction of Rs 50,000
            available
            on your home loan interest on top of deduction of Rs 2 lakh (on interest component of home loan EMI) allowed
            under section 24.

            As per Section 80EE(4), deduction under section 24 cannot be availed if deduction is claimed under this
            section.
            (4) Where a deduction under this section is allowed for any interest referred to in sub-section (1),
            deduction
            shall not be allowed in respect of such interest under any other provision of this Act for the same or any
            other
            assessment year

            <span class="font-16 font-weight-semibold">FY 2013-14 and FY 2014-15</span> This section provides a
            deduction on
            the home loan interest paid. The deduction under this section is available only to individuals for the first
            house purchased where the value of the house is Rs 40 lakh or less and the loan taken for the house is Rs 25
            lakh or less. The loan must be sanctioned between 01 April 2013 to 31 March 2014. The aggregate deduction
            allowed under this section cannot exceed Rs 1,00,000 and is allowed for FY 2013-14 and FY 2014-15.

        </div>
        <div id="section80ccg" class="content pt-5">
            <p class="font-24 font-weight-semibold">8. Section 80CCG</p>
            <p class="font-20 font-weight-semibold">Rajiv Gandhi Equity Saving Scheme (RGESS)</p>
            The deduction under this section is available to a resident individual. Investors whose gross total income
            is
            less than Rs. 12 lakhs. To avail the benefits under this section the following conditions should be met:

            a. The assessee should be a new retail investor as per the requirement specified under the notified scheme.

            b. The investment should be made in such listed investor as per the requirement specified under the notified
            scheme.

            c. The minimum lock in period in respect of such investment is three years from the date of acquisition in
            accordance with the notified scheme.

            Upon fulfillment of the above conditions, a deduction, which is lower of the following is allowed.
            <ul>
                <li>50% of the amount invested in equity shares; or</li>
                <li>Rs 25,000 for three consecutive Assessment Years.</li>
            </ul>
            <a href="https://cleartax.in/s/phasing-out-of-section-80ccg" target="_blank" rel="noopener noreferrer">Rajiv
                Gandhi Equity Scheme</a> has been discontinued starting from 1 April 2017. Therefore, no deduction under
            section 80CCG will be allowed from FY 2017-18.However, if you have invested in the RGESS scheme in FY
            2016-17,
            then you can claim deduction under Section 80CCG until FY 2018-19.

        </div>
        <div id="section80d" class="content pt-5">
            <p class="font-24 font-weight-semibold">9. Section 80D</p>
            <p class="font-20 font-weight-semibold">Deduction for the premium paid for Medical Insurance</p>
            Deduction under this section is available to an individual or a HUF. A deduction of Rs. 25,000 can be
            claimed
            for health insurance of self, spouse and dependent children. An additional deduction for health insurance of
            parents is available to the extent of Rs 25,000 if they are less than 60 years of age or Rs 50,000 (has been
            increased in Budget 2018 from Rs 30,000) if parents are more than 60 years old. In case, a taxpayers age and
            parents age is 60 years or above, the maximum deduction available under this section is to the extent of Rs.
            100,000.From FY 2015-16 a cumulative additional deduction of Rs. 5,000 is allowed for the preventive health
            check up to individuals.

        </div>
        <div id="section80dd" class="content pt-5">
            <p class="font-24 font-weight-semibold">10. Section 80DD</p>
            <p class="font-20 font-weight-semibold">Deduction for Rehabilitation of Handicapped Dependent Relative</p>
            This deduction is available to a resident individual or a HUF and is available on:

            a. Expenditure incurred on medical treatment (including nursing), training and rehabilitation of handicapped
            dependent relative

            b. Payment or deposit to specified scheme for maintenance of dependent handicapped relative.
            <p class="p-1">i. Where disability is 40% or more but less than 80% – fixed deduction of Rs 75,000.</p>
            <p class="p-1">ii. Where there is severe disability (disability is 80% or more) – fixed deduction of Rs
                1,25,000.</p>
            To claim this deduction a certificate of disability is required from prescribed medical authority. From FY
            2015-16 – The deduction limit of Rs 50,000 has been raised to Rs 75,000 and Rs 1,00,000 has been raised to
            Rs
            1,25,000.

        </div>
        <div id="section80ddb" class="content pt-5">
            <p class="font-24 font-weight-semibold">11. Section 80DDB</p>
            <p class="font-20 font-weight-semibold">Deduction for Medical Expenditure on Self or Dependent Relative</p>
            This deduction is available to a resident individual or a HUF. The deduction that can be claimed is Rs
            40,000.
            Such deduction, for an individual, is available in respect of any expenses incurred towards treatment of
            certain
            specified medical diseases or ailments for himself or any of his dependents. For a HUF, such deduction is
            available in respect of medical expenses incurred towards these prescribed ailments, for any of the members
            of
            the HUF.

            In case the individual on behalf of whom such expenses are incurred is a senior citizen, a deduction upto Rs
            1
            lakh can be claimed by the individual or HUF taxpayer. Earlier i.e. until FY 2017-18, the deduction that
            could
            be claimed for a senior citizen and a super senior citizen was Rs 60,000 and Rs 80,000 respectively. This
            otherwise means, now it is a common deduction available upto Rs 1 lakh for all senior citizens (including
            super
            senior citizens) unlike earlier.

            Any reimbursement of medical expenses by an insurer or employer shall be reduced from the quantum of
            deduction
            the taxpayer can claim under this section.

            Also remember that you need get a prescription for such medical treatment from the concerned specialist in
            order
            to be able to claim such deduction. Read our detailed article on <a
                href="https://cleartax.in/s/get-certificate-claiming-deduction-section-80ddb" target="_blank"
                rel="noopener noreferrer">Section 80DDB</a>

        </div>
        <div id="section80u" class="content pt-5">
            <p class="font-24 font-weight-semibold">12. Section 80U</p>
            <p class="font-20 font-weight-semibold">Deduction for Person suffering from Physical Disability</p>
            A deduction of Rs. 75,000 is available to a resident individual who suffers from a physical disability
            (including blindness) or mental retardation. In case of severe disability, deduction of Rs. 1,25,000 can be
            claimed.From FY 2015-16 – The deduction limit of Rs 50,000 has been raised to Rs 75,000 and Rs 1,00,000 has
            been
            raised to Rs 1,25,000.

        </div>
        <div id="section80g" class="content pt-5">
            <p class="font-24 font-weight-semibold">13. Section 80G</p>
            <p class="font-20 font-weight-semibold">Deduction for donations towards Social Causes</p>
            The various donations specified in u/s 80G are eligible for deduction up to either 100% or 50% with or
            without
            restriction as provided in section 80G.From FY 2017-18 any donations made in cash exceeding Rs 2,000 will
            not be
            allowed as deduction. The donations above Rs 2000 should be made in any mode other than cash to qualify as
            deduction u/s 80G.
            <p class="font-16 font-weight-semibold">a. Donations with 100% deduction without any qualifying limit</p>

            <ul>
                <li>National Defence Fund set up by the Central Government</li>
                <li>Prime Minister’s National Relief Fund</li>
                <li>National Foundation for Communal Harmony</li>
                <li>An approved university/educational institution of National eminence</li>
                <li>Zila Saksharta Samiti constituted in any district under the chairmanship of the Collector of that
                    district
                </li>
                <li>Fund set up by a State Government for the medical relief to the poor</li>
                <li>National Illness Assistance Fund</li>
                <li>National Blood Transfusion Council or to any State Blood Transfusion Council</li>
                <li>National Trust for Welfare of Persons with Autism, Cerebral Palsy, Mental Retardation and Multiple
                    Disabilities</li>
                <li>National Sports Fund</li>
                <li>National Cultural Fund</li>
                <li>Fund for Technology Development and Application</li>
                <li>National Children’s Fund</li>
                <li>Chief Minister’s Relief Fund or Lieutenant Governor’s Relief Fund with respect to any State or Union
                    Territory</li>
                <li>The Army Central Welfare Fund or the Indian Naval Benevolent Fund or the Air Force Central Welfare
                    Fund,
                    Andhra Pradesh Chief Minister’s Cyclone Relief Fund, 1996</li>
                <li>The Maharashtra Chief Minister’s Relief Fund during October 1, 1993 and October 6,1993</li>
                <li>Chief Minister’s Earthquake Relief Fund, Maharashtra</li>
                <li>Any fund set up by the State Government of Gujarat exclusively for providing relief to the victims
                    of
                    earthquake in Gujarat</li>
                <li>Any trust, institution or fund to which Section 80G(5C) applies for providing relief to the victims
                    of
                    earthquake in Gujarat (contribution made during January 26, 2001 and September 30, 2001) or</li>
                <li>Prime Minister’s Armenia Earthquake Relief Fund</li>
                <li>Africa (Public Contributions — India) Fund</li>
                <li>Swachh Bharat Kosh (applicable from financial year 2014-15)</li>
                <li>Clean Ganga Fund (applicable from financial year 2014-15)</li>
                <li>National Fund for Control of Drug Abuse (applicable from financial year 2015-16)</li>
            </ul>
            <p class="font-16 font-weight-semibold">b. Donations with 50% deduction without any qualifying limit</p>

            <ul>
                <li>Jawaharlal Nehru Memorial Fund</li>
                <li>Prime Minister’s Drought Relief Fund</li>
                <li>Indira Gandhi Memorial Trust</li>
                <li>The Rajiv Gandhi Foundation</li>
            </ul>
            <p class="font-16 font-weight-semibold">c. Donations to the following are eligible for 100% deduction
                subject to
                10% of adjusted gross total income</p>

            <ul>
                <li>Government or any approved local authority, institution or association to be utilized for the
                    purpose of
                    promoting family planning</li>
                <li>Donation by a Company to the Indian Olympic Association or to any other notified association or
                    institution established in India for the development of infrastructure for sports and games in India
                    or the
                    sponsorship of sports and games in India</li>
            </ul>
            <p class="font-16 font-weight-semibold">d. Donations to the following are eligible for 50% deduction subject
                to
                10% of adjusted gross total income</p>

            <ul>
                <li>Any other fund or any institution which satisfies conditions mentioned in Section 80G(5)</li>
                <li>Government or any local authority to be utilized for any charitable purpose other than the purpose
                    of
                    promoting family planning</li>
                <li>Any authority constituted in India for the purpose of dealing with and satisfying the need for
                    housing
                    accommodation or for the purpose of planning, development or improvement of cities, towns, villages
                    or both
                </li>
                <li>Any corporation referred in Section 10(26BB) for promoting the interest of minority community</li>
                <li>For repairs or renovation of any notified temple, mosque, gurudwara, church or other places.</li>
            </ul>
        </div>
        <div id="section80ggb" class="content pt-5">
            <p class="font-24 font-weight-semibold">14. Section 80GGB</p>
            <p class="font-20 font-weight-semibold">Deduction on contributions given by companies to Political Parties
            </p>
            Deduction is allowed to an Indian company for the amount contributed by it to any political party or an
            electoral trust. Deduction is allowed for contribution done by any way other than cash.

        </div>
        <div id="section80ggc" class="content pt-5">
            <p class="font-24 font-weight-semibold">15. Section 80GGC</p>
            <p class="font-20 font-weight-semibold">Deduction on contributions given by any person to Political Parties
            </p>
            Deduction under this section is allowed to a taxpayer except for a company, local authority and an
            artificial
            juridical person wholly or partly funded by the government, for any amount contributed to any political
            party or
            an electoral trust. The deduction is allowed for contribution done by any way other than cash.

        </div>
        <div id="section80rrb" class="content pt-5">
            <p class="font-24 font-weight-semibold">16. Section 80RRB</p>
            <p class="font-20 font-weight-semibold">Deduction with respect to any Income by way of Royalty of a Patent
            </p>
            Deduction for any income by way of royalty for a patent registered on or after 01.04.2003 under the Patents
            Act
            1970 shall be available up to Rs. 3 lakhs or the income received, whichever is less. The taxpayer must be an
            individual resident of India who is a patentee. The taxpayer must furnish a certificate in the prescribed
            form
            duly signed by the prescribed authority.

        </div>
        <div id="section80ttb" class="content pt-5">
            <p class="font-24 font-weight-semibold">17. Section 80 TTB</p>
            <p class="font-20 font-weight-semibold">Deduction of Interest on Deposits for Senior Citizens</p>
            A new section 80TTB has been inserted vide Budget 2018 wherein, a deduction in respect of interest income
            from
            deposits held by senior citizens will be allowed as a deduction from the total income The limit for this
            deduction is Rs. 50,000. Further, no deduction under section 80TTA shall be allowed. In addition to section
            80
            TTB, section 194A of the Act will also be amended so as to increase the threshold limit for deduction of tax
            at
            source on interest income payable to senior citizens from the existing limit Rs 10,000 to Rs. 50,000.

        </div>
        <div class="content">
            <p class="font-24 font-weight-semibold mt-4">18. Deductions-Summary</p>
            <p class="font-20 font-weight-semibold">Section 80 Deduction Table</p>

            <table class="table-bordered">
                <thead>
                    <tr>
                        <th>Section</th>
                        <th>Deduction on</th>
                        <th>Allowed Limit (maximum) FY 2018-19</th>
                    </tr>
                </thead>
                <tbody class="fs-small">
                    <tr>
                        <td>80C</td>
                        <td>Investment in PPF
                            <ul>
                                <li>Employee’s share of PF contribution</li>
                                <li>NSCs</li>
                                <li>Life Insurance Premium payment</li>
                                <li>Children’s Tuition Fee</li>
                                <li>Principal Repayment of home loan</li>
                                <li>Investment in Sukanya Samridhi Account</li>
                                <li>ULIPS</li>
                                <li>ELSS</li>
                                <li>Sum paid to purchase deferred annuity</li>
                                <li>Five year deposit scheme</li>
                                <li>Senior Citizens savings scheme</li>
                                <li>Subscription to notified securities/notified deposits scheme</li>
                                <li>Contribution to notified Pension Fund set up by Mutual Fund or UTI.</li>
                                <li>Subscription to Home Loan Account scheme of the National Housing Bank</li>
                                <li>Subscription to deposit scheme of a public sector or company engaged in providing
                                    housing finance
                                </li>
                                <li>Contribution to notified annuity Plan of LIC</li>
                                <li>Subscription to equity shares/ debentures of an approved eligible issue</li>
                                <li>Subscription to notified bonds of NABARD</li>
                            </ul>
                        </td>
                        <td>Rs. 1,50,000</td>
                    </tr>
                    <tr>
                        <td>80CCC</td>
                        <td>For amount deposited in annuity plan of LIC or any other insurer for a pension from a fund
                            referred to
                            in Section 10(23AAB)</td>
                        <td>–</td>
                    </tr>
                    <tr>
                        <td>80CCD(1)</td>
                        <td>Employee’s contribution to NPS account (maximum up to Rs 1,50,000)</td>
                        <td>–</td>
                    </tr>
                    <tr>
                        <td>80CCD(2)</td>
                        <td>Employer’s contribution to NPS account</td>
                        <td>Maximum up to 10% of salary</td>
                    </tr>
                    <tr>
                        <td>80CCD(1B)</td>
                        <td>Additional contribution to NPS</td>
                        <td>Rs. 50,000</td>
                    </tr>
                    <tr>
                        <td>80TTA(1)</td>
                        <td>Interest Income from Savings account</td>
                        <td>Maximum up to 10,000</td>
                    </tr>
                    <tr>
                        <td>80TTB</td>
                        <td>Exemption of interest from banks, post office, etc. Applicable only to senior citizens</td>
                        <td>Maximum up to 50,000</td>
                    </tr>
                    <tr>
                        <td>80GG</td>
                        <td>For rent paid when HRA is not received from employer</td>
                        <td>Least of:
                            <ul>
                                <li>Rent paid minus 10% of adjusted total income</li>
                                <li>Rs. 5000/- per month</li>
                                <li>25% of adjusted total income</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>80E</td>
                        <td>Interest on education loan</td>
                        <td>Interest paid for a period of 8 years</td>
                    </tr>
                    <tr>
                        <td>80EE</td>
                        <td>Interest on home loan for first time home owners</td>
                        <td>Rs 50,000</td>
                    </tr>
                    <tr>
                        <td>80CCG</td>
                        <td>Rajiv Gandhi Equity Scheme for investments in Equities</td>
                        <td>Lower of:
                            <ul>
                                <li>50% of amount invested in equity shares; or</li>
                                <li>Rs 25,000</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>80D</td>
                        <td>
                            <ul>
                                <li>Medical Insurance – Self, spouse, children</li>
                                <li>Medical Insurance – Parents more than 60 years old</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Rs. 25,000</li>
                                <li>Rs. 50,000</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>80DD</td>
                        <td>Medical treatment for handicapped dependent or payment to specified scheme for maintenance
                            of
                            handicapped dependent
                            <ul>
                                <li>Disability is 40% or more but less than 80%</li>
                                <li>Disability is 80% or more</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Rs. 75,000</li>
                                <li>Rs. 1,25,000</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>80DDB</td>
                        <td>Medical Expenditure on Self or Dependent Relative for diseases specified in Rule 11DD
                            <ul>
                                <li>For less than 60 years old</li>
                                <li>For more than 60 years old</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Lower of Rs 40,000 or the amount actually paid</li>
                                <li>Lower of Rs 1,00,000 or the amount actually paid</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>80U</td>
                        <td>Self-suffering from disability :
                            <ul>
                                <li>An individual suffering from a physical disability (including blindness) or mental
                                    retardation.
                                </li>
                                <li>An individual suffering from severe disability</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Rs. 75,000</li>
                                <li>Rs. 1,25,000</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>80GGB</td>
                        <td>Contribution by companies to political parties</td>
                        <td>Amount contributed (not allowed if paid in cash)</td>
                    </tr>
                    <tr>
                        <td>80GGC</td>
                        <td>Contribution by individuals to political parties</td>
                        <td>Amount contributed (not allowed if paid in cash)</td>
                    </tr>
                    <tr>
                        <td>80RRB</td>
                        <td>Deductions on Income by way of Royalty of a Patent</td>
                        <td>Lower of Rs 3,00,000 or income received</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="faq" class="faq font-16 pt-5">
            <p class="font-20 font-weight-semibold">Frequently Asked Questions</p>

            <ul class="faq-list">
                <li class="faq-item">
                    <div class="faq-qus">Can I claim the 80C deductions at the time of filing return in case I have not
                        submitted proof to my employer?</div>
                    <div class="faq-ans">Proofs for making investments are submitted to the employer before the end of a
                        Financial Year (FY) so that the employer considers these investments while determining your
                        taxable income
                        and the tax deduction that needs to be made.However, even if you miss submitting these proofs to
                        your
                        employer, the claim for such investments made can be done at the time of filing your return of
                        income as
                        long as these investments have been made before the end of the relevant FY.</div>
                </li>
            </ul>
            <ul class="faq-list">
                <li class="faq-item">
                    <div class="faq-qus">I have made an 80C investment on 30 April 2018. For which year can I claim this
                        investment as a deduction?</div>
                    <div class="faq-ans">

                        You can claim deduction for investments made in the return of income for the year in which you
                        have made
                        the investment. Therefore, if you have made the investment on 30 April 2018, you will be
                        eligible to claim
                        such investment as a deduction during FY 2018-19.Also On account of the pandemic, the government
                        has
                        extended the due date to make investments for FY 19-20 upto 31st July-20. So in case you have
                        made an
                        investment relating to FY 19-20 after 31st March 20 but on or before 31st July-20 then the same
                        can be
                        declared in your return and availed as decutions

                    </div>
                </li>
            </ul>
            <ul class="faq-list">
                <li class="faq-item">
                    <div class="faq-qus">I have availed a loan from my employer for pursuing higher education. Can I
                        claim the
                        interest paid on such loan as a deduction under Section 80E?</div>
                    <div class="faq-ans">A deduction of interest paid on education loan under Section 80E can be made
                        only if
                        the loan has been availed from a financial institution for pursuing higher education. Therefore,
                        availing
                        a loan from your employer will not entitle you to claim the interest under Section 80E.</div>
                </li>
            </ul>
            <ul class="faq-list">
                <li class="faq-item">
                    <div class="faq-qus">Is there any restriction or maximum limit upto which I can claim a deduction
                        under
                        Section 80E?</div>
                    <div class="faq-ans">Law has not prescribed any upper limit for making a claim of deduction under
                        Section
                        80E. Hence, the actual interest paid during a year can be claimed as a deduction.</div>
                </li>
            </ul>
            <ul class="faq-list">
                <li class="faq-item">
                    <div class="faq-qus">Can a company or a firm take the benefit of Section 80C?</div>
                    <div class="faq-ans">The provisions of Section 80C apply only to individuals or a Hindu Undivided
                        Family
                        (HUF). Hence, a company or a firm cannot take the benefit of Section 80C.</div>
                </li>
            </ul>
            <ul class="faq-list">
                <li class="faq-item">
                    <div class="faq-qus">I have been paying life insurance premium to a private insurance company. Can I
                        claim
                        80C deduction for the premium paid?</div>
                    <div class="faq-ans">Deduction under Section 80C is available in respect of life insurance premium
                        paid to
                        any insurer approved by the Insurance Regulatory and Development Authority of India, whether
                        public or
                        private. Hence, the insurance premium you are paying will also help you claim an 80C deduction.
                    </div>
                </li>
            </ul>
            <ul class="faq-list">
                <li class="faq-item">
                    <div class="faq-qus">In which year can I claim deduction of the stamp duty paid for purchase of a
                        house
                        property</div>
                    <div class="faq-ans">You can go ahead claiming the stamp duty for purchase of a house in the year in
                        which
                        the payment is made towards stamp duty under Section 80C.</div>
                </li>
            </ul>
            <ul class="faq-list">
                <li class="faq-item">
                    <div class="faq-qus">Can a company claim a deduction for donations made under Section 80G</div>
                    <div class="faq-ans">Any taxpayer making donations towards specified institutions, funds etc will be
                        eligible to claim a deduction under Section 80G.</div>
                </li>
            </ul>
            <ul class="faq-list">
                <li class="faq-item">
                    <div class="faq-qus">I am paying medical insurance premium for a medical policy taken in my name, my
                        wife
                        and children. I am also paying premium on a medical policy taken in the name of my parents who
                        are above
                        60 years. Can I claim a deduction for both premiums paid?</div>
                    <div class="faq-ans">The premium you have paid on the policy taken for yourself, spouse and children
                        is
                        eligible for a deduction under <a href="https://cleartax.in/s/medical-insurance" target="_blank"
                            rel="noopener noreferrer">Section 80D</a> upto a maximum of Rs 25,000. In addition to this,
                        you will
                        also be eligible to claim deduction of premium paid on the policy taken for your senior citizen
                        parents
                        upto a maximum of Rs 50,000 (this limit was Rs 30,000 until FY 2017-18. Hence, you can claim
                        both premiums
                        paid as a deduction under Section 80D.</div>
                </li>
            </ul>
            <ul class="faq-list">
                <li class="faq-item">
                    <div class="faq-qus">Is my FD interest exempt under Section 80TTB?</div>
                    <div class="faq-ans">If you are a senior citizen above 60 years of age, then your interest income
                        from a
                        Fixed Deposit is exempt under Section 80TTB.</div>
                </li>
            </ul>
        </div>

    </div>

</div>
<script>
    document.querySelectorAll('a').forEach((item) => (item.setAttribute('href', 'javascript:void(0)'), item.removeAttribute('target')));
</script>