<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Coold.in Contact & Feedback</h2>
                <p class="text-white-50">
                    Cooming soon...
                    <a href="https://www.coold.in/">Home Page. </a>| What is Coold.in ? | Coold.in services ?
                <p>
            </div>
        </div>
        <img class="img-fluid" src="../../../assets/img/bg-signup.jpg" alt="" />
    </div>
</section>